# Игнорирование системных файлов операционной системы
.DS_Store
Thumbs.db

# Игнорирование конфигурационных файлов IDE
.vscode/
.idea/

# Игнорирование логов и временных файлов
logs/
*.log
*.tmp

# Игнорирование директорий и файлов node.js
node_modules/
npm-debug.log

# Игнорирование директорий и файлов Python
__pycache__/
*.py[cod]

# Игнорирование компилируемых файлов
*.class
*.o
*.so
*.out

# Игнорирование файлов сборки
dist/
build/

# Игнорирование файлов и папок с чувствительной информацией
.env
